<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about_us_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1045},{290,109}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{290,109}}</string>
                <key>sourceSize</key>
                <string>{292,115}</string>
            </dict>
            <key>about_us_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,909},{290,109}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{290,109}}</string>
                <key>sourceSize</key>
                <string>{292,115}</string>
            </dict>
            <key>backtomap_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,1146},{290,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,108}}</string>
                <key>sourceSize</key>
                <string>{290,108}</string>
            </dict>
            <key>backtomap_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{290,109}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{290,109}}</string>
                <key>sourceSize</key>
                <string>{292,115}</string>
            </dict>
            <key>cal_btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1306},{140,141}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{140,141}}</string>
                <key>sourceSize</key>
                <string>{142,143}</string>
            </dict>
            <key>cal_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,1240},{140,141}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,141}}</string>
                <key>sourceSize</key>
                <string>{140,143}</string>
            </dict>
            <key>cal_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1335},{140,141}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,141}}</string>
                <key>sourceSize</key>
                <string>{140,143}</string>
            </dict>
            <key>cal_btn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1164},{140,141}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,141}}</string>
                <key>sourceSize</key>
                <string>{140,143}</string>
            </dict>
            <key>card_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,891},{143,213}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{143,213}}</string>
                <key>sourceSize</key>
                <string>{145,215}</string>
            </dict>
            <key>card_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,746},{143,213}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{143,213}}</string>
                <key>sourceSize</key>
                <string>{145,215}</string>
            </dict>
            <key>card_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,952},{143,210}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{143,210}}</string>
                <key>sourceSize</key>
                <string>{145,212}</string>
            </dict>
            <key>celebration.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,300},{452,286}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,286}}</string>
                <key>sourceSize</key>
                <string>{454,288}</string>
            </dict>
            <key>close_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1342},{94,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{94,95}}</string>
                <key>sourceSize</key>
                <string>{94,101}</string>
            </dict>
            <key>congrats_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{538,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{538,131}}</string>
                <key>sourceSize</key>
                <string>{542,133}</string>
            </dict>
            <key>display_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{575,217}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,217}}</string>
                <key>sourceSize</key>
                <string>{575,219}</string>
            </dict>
            <key>gameStartNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,133},{388,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,128}}</string>
                <key>sourceSize</key>
                <string>{388,128}</string>
            </dict>
            <key>gameStartSelect.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,2},{388,129}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{388,129}}</string>
                <key>sourceSize</key>
                <string>{388,135}</string>
            </dict>
            <key>gameplay_node_current.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1266},{96,97}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,97}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>gameplay_node_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,660},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,129}</string>
            </dict>
            <key>gameplay_node_unlocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,531},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,129}</string>
            </dict>
            <key>huanle_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,588},{169,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{169,87}}</string>
                <key>sourceSize</key>
                <string>{169,91}</string>
            </dict>
            <key>logo_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{492,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{492,175}}</string>
                <key>sourceSize</key>
                <string>{492,179}</string>
            </dict>
            <key>map_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,354},{197,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,37}}</string>
                <key>sourceSize</key>
                <string>{197,37}</string>
            </dict>
            <key>music_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,2},{47,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,52}}</string>
                <key>sourceSize</key>
                <string>{47,52}</string>
            </dict>
            <key>pause_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1325},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>pause_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1256},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>random_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1130},{290,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{290,108}}</string>
                <key>sourceSize</key>
                <string>{292,116}</string>
            </dict>
            <key>random_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,1036},{290,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{290,108}}</string>
                <key>sourceSize</key>
                <string>{292,116}</string>
            </dict>
            <key>restart_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1020},{290,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,108}}</string>
                <key>sourceSize</key>
                <string>{290,108}</string>
            </dict>
            <key>restart_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1156},{290,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{290,108}}</string>
                <key>sourceSize</key>
                <string>{292,114}</string>
            </dict>
            <key>retry_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,827},{302,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{302,105}}</string>
                <key>sourceSize</key>
                <string>{306,109}</string>
            </dict>
            <key>retry_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,802},{302,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{302,105}}</string>
                <key>sourceSize</key>
                <string>{306,109}</string>
            </dict>
            <key>save_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1364},{94,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,130}}</string>
                <key>sourceSize</key>
                <string>{94,130}</string>
            </dict>
            <key>save_btn_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,789},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1256},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>settings2.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1240},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>sfx_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,221},{46,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,33}}</string>
                <key>sourceSize</key>
                <string>{46,33}</string>
            </dict>
            <key>shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,553},{122,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,45}}</string>
                <key>sourceSize</key>
                <string>{122,45}</string>
            </dict>
            <key>switch_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1266},{189,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,67}}</string>
                <key>sourceSize</key>
                <string>{189,67}</string>
            </dict>
            <key>switch_mv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1256},{72,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,67}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>switch_mv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1256},{72,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,67}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>switch_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,883},{153,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,67}}</string>
                <key>sourceSize</key>
                <string>{153,67}</string>
            </dict>
            <key>switch_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,677},{153,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,67}}</string>
                <key>sourceSize</key>
                <string>{153,67}</string>
            </dict>
            <key>tips_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,695},{302,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{302,105}}</string>
                <key>sourceSize</key>
                <string>{306,109}</string>
            </dict>
            <key>tips_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,588},{302,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{302,105}}</string>
                <key>sourceSize</key>
                <string>{306,109}</string>
            </dict>
            <key>tips_number_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1382},{81,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{81,62}}</string>
                <key>sourceSize</key>
                <string>{83,64}</string>
            </dict>
            <key>victory_cards.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,531},{362,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,294}}</string>
                <key>sourceSize</key>
                <string>{362,294}</string>
            </dict>
            <key>xiuxiyixia.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,51},{247,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,47}}</string>
                <key>sourceSize</key>
                <string>{247,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameui.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd042ccb5aed0119aeb6eb440b02faef:1/1$</string>
            <key>textureFileName</key>
            <string>gameui.png</string>
        </dict>
    </dict>
</plist>
